.image-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-height: calc(100vh - 200px);
    overflow: hidden;
}

.clickable-image {
    object-fit: contain;
    cursor: pointer;
    max-width: 100%;
}