/* Default styles for image container and clickable image */
.image-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-height: calc(100vh - 200px);
    overflow: hidden;
}

.clickable-image {
    object-fit: contain;
    cursor: pointer;
    max-width: 100%;
}

/* Media query for small screens in portrait mode */
@media only screen and (max-width: 480px) and (orientation: portrait) {
    .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: calc(100vh - 100px);
    }
    .clickable-image {
        display: block;
        margin: 0 auto 10px;
        max-width: 100%;
        height: auto;
    }
}

/* Media query for small screens in landscape mode */
@media only screen and (max-width: 480px) and (orientation: landscape) {
    .image-container {
        flex-wrap: wrap;
        justify-content: space-around;
        max-height: calc(100vh - 200px);
    }
    .clickable-image {
        width: 45%;
        margin: 1%;
    }
}

/* Media query for larger screens */
@media only screen and (min-width: 481px) {
    .image-container {
        max-height: calc(100vh - 200px);
    }
    .clickable-image {
        width: 45%;
        margin: 1%;
    }
}